version: '3.8'
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    environment:
      MONGO_INITDB_DATABASE: profileFolio
    ports:
      - '27018:27017'
    volumes:
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro

  backend:
    container_name: backend-go
    build: ./backend
    ports:
      - '8080:8080'
    environment:
      MONGO_URL: mongodb://mongodb:27017/profileFolio
    depends_on:
      - mongodb

  frontend:
    container_name: frontend-next
    build: ./frontend
    ports:
      - '3000:3000'
    environment:
      NEXT_PUBLIC_BACKEND_URL: http://backend:8080
    depends_on:
      - backend
# docker system prune --all
# docker volume prune
